canvas{
animation-name:eggsample;
animation-duration:4s;
animation-iteration-count:infinite;
}
@keyframes eggsample{
    from{
        box-shadow:crimson 1px 1px 38px;
    }
    to{
        box-shadow:aquamarine 1px 1px 38px;
    }
}